.hidden{
    display: none;
    
}

img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
  }

#clock {
    margin-top: 15%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 70px;
    color: whitesmoke;

  }

#greeting {
    text-align : center;
    font-size: 50px;
    color: whitesmoke;

  }

#todo-form {
    text-align : center;
    
  }

#todo-list {
    text-align : center;
    list-style: none;
  }

#quote {
    text-align : center;
    color: whitesmoke;
  }

#weather {
    text-align : center;
    color: whitesmoke;
  }